<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RL4CO 平台 | 山西大学{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block nav %}
        {% include "includes/navbar.html" %}
    {% endblock %}
    {% block content %}{% endblock %}
    <script src="/static/js/navigation.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
